<% provide :button_text, t("create") %>
<div class="col-lg-6 equel-grid">
  <div class="grid">
    <p class="grid-header"><%= t "new_category" %></p>
    <div class="grid-body">
      <div class="item-wrapper">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
