<% provide :button_text, t("save") %>
<div class="col-lg-12">
  <div class="grid">
    <p class="grid-header"><%= t "pro_edit" %></p>
    <div class="grid-body">
      <div class="item-wrapper">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
